@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");

body {
  margin: 0;
  font-family: "Inter", "sans-serif", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes jostle {
  0% {
    transform: translate(0, 10px) rotate(3deg) scale(0.7, 1.2);
  }
  50% {
    transform: translate(0, 10px) rotate(-3deg) scale(0.7, 1.2);
  }
  100% {
    transform: translate(0, 10px) rotate(3deg) scale(0.7, 1.2);
  }
}
